﻿
@{
    ViewBag.Title = "Channels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-image: none;
        background-color: white;
    }
</style>
<br />
<a href="@Url.Action("NewChannel", "Administrator")" class="btn btn-primary right">New Channel</a>
<br />
<h2>List Channels</h2>
<hr />
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">SID</th>
            <th scope="col">FRIENDLY NAME</th>
            <th scope="col">UNIQUE NAME</th>
            <th scope="col">ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var channel in Model)
        {
            <tr>
                <th scope="row">@channel.sid</th>
                <th>@channel.friendly_name</th>
                <th>@channel.unique_name</th>
                <th>
                    <a href="@Url.Action("UpdateChannel", "Administrator", new { sid = channel.sid})" class="btn btn-success right">Update</a>
                    <a href="@Url.Action("DeleteChannel", "Administrator", new { sid = channel.sid})" class="btn btn-danger right">Delete</a>
                </th>
            </tr>
        }
    </tbody>
</table>
