﻿@model TwilioChat.Models.Channel
@{
    ViewBag.Title = "CreateChannel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-image: none;
        background-color: white;
    }
</style>
<br />
<h2>New Channel</h2>
<hr />
<form method="post" action="@Url.Action("NewChannel", "Administrator")">
    <div class="form-group">
        <label>Channel Id</label>
        @Html.TextBoxFor(x => x.sid, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label>Friendly Name</label>
        @Html.TextBoxFor(x => x.friendly_name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Unique Name</label>
        @Html.TextBoxFor(x => x.unique_name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Send" />
        <a href="@Url.Action("Channels", "Administrator")" class="btn btn-danger right">Back</a>
    </div>
</form>



