﻿<!--
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
-->
<style>
    .copy {
        text-align: center;
    }

    .flex-content {
        align-items: center;
    }
    img {
        align-items: center;
        max-width: 100%;
        height: auto;
    }
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-image: none;
        background-color: white;
    }
</style>
<div class="copy">
    <h1 style="margin-top: 20px;">The best customer experiences are built with Twilio Chat</h1>
    <p style="margin-top: 10px;">Our customer service and engagement products are powerful and flexible, and scale to meet the needs of any business.</p>
    <img src="~/images/about.png" alt="The best customer experiences are built with Twilio Chat" />
</div>
