﻿<style>
    .copy {
        position: relative;
        z-index: 1;
        max-width: 100%;
        text-align: center;
    }

    .flex-content {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    img {
        align-items: center;
    }
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-image: none;
        background-color: white;
    }
</style>
<div class="container">

</div>