﻿@model Student
@{
    ViewBag.Title = "Student Details";
}

<h2>Student Details</h2>
<hr />

<div class="form-group">
    <label>Student Id: </label>
    @Model.studentID
</div>
<div class="form-group">
    <label>FirstName: </label>
    @Model.firstname
</div>
<div class="form-group">
    <label>LastName: </label>
    @Model.lastname
</div>
<div class="form-group">
    <label>Email: </label>
    @Model.email
</div>
<div class="form-group">
    <label>Address: </label>
    @Model.address
</div>
<div class="form-group">
    <a href="@Url.Action("Index", "Student")" class="btn btn-danger right">Back</a>
</div>
