﻿@model List<Student>
@{
    ViewBag.Title = "Index";
}
<h2>
    <a href="@Url.Action("NewStudent", "Student")" class="btn btn-primary right">New Student</a>
    List Students</h2>
<hr/>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Email</td>
            <td>Address</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.studentID</td>
                <td>@student.firstname</td>
                <td>@student.lastname</td>
                <td>@student.email</td>
                <td>@student.address</td>
                <td>
                    <a href="@Url.Action("UpdateStudent", "Student", new { studentID = student.studentID})" class="btn btn-success right">Update</a>
                    <a href="@Url.Action("DeleteStudent", "Student", new { studentID = student.studentID})" class="btn btn-danger right">Delete</a>
                    <a href="@Url.Action("DetailStudent", "Student", new { studentID = student.studentID})" class="btn btn-default right">Seee Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>

