﻿@model Student
@{
    ViewBag.Title = "New Student";
}

<h2>New Student</h2>
<hr />
<form method="post" action="@Url.Action("NewStudent", "Student")">
    <div class="form-group">
        <label>Student Id</label>
        @Html.TextBoxFor(x=>x.studentID, new { @class= "form-control",  @readonly = "readonly" })
    </div>
    <div class="form-group">
        <label>Firsname</label>
        @Html.TextBoxFor(x => x.firstname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>LastName</label>
        @Html.TextBoxFor(x => x.lastname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Address</label>
        @Html.TextBoxFor(x => x.address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Send"/>
        <a href="@Url.Action("Index", "Student")" class="btn btn-danger right">Back</a>
    </div>
</form>

