﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Twilio Chat</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <style>
        html, body {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
            background-image: url('../../images/twilio2.jpg');
            background-repeat: no-repeat;
            background-position: center; /* Center the image */
        }

        body {
            display: flex;
            flex-direction: column;
        }

        header {
            height: 57px;
        }

        main {
            flex: auto;
        }

        footer {
            text-align: center;
            height: 75px;
            background-color: transparent;
            color:black;
        }
    </style>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand" @Html.ActionLink("Twilio Chat", "Index", "Home")</a>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" @Html.ActionLink("Dashboard", "Index", "Home")</a></li>
                        <li class="nav-item"><a class="nav-link" @Html.ActionLink("Administrator", "Index", "Administrator")</a></li>
                        <li class="nav-item"><a class="nav-link" @Html.ActionLink("Chat", "Index", "Chat")</a></li>
                        <li class="nav-item"><a class="nav-link" @Html.ActionLink("About", "About", "Home")</a></li>
                        <li class="nav-item"><a class="nav-link" @Html.ActionLink("Contacto", "Contact", "Home")</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container body-content">
            @RenderBody()
        </div>
        
    </main>
    <footer class="footer">
        <hr />
        <p>&copy; 2018 - Twilio Chat</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
