﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-image: none;
        background-color: white;
    }

    .detailBox {
        width: 100%;
        border: 1px solid #bbb;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .titleBox {
        background-color: #0e0d0d;
        padding: 10px;
    }

        .titleBox label {
            color: white;
            margin: 0;
            display: inline-block;
        }

    .commentBox {
        padding: 10px;
        border-top: 1px dotted #bbb;
    }

        .commentBox .form-group:first-child, .actionBox .form-group:first-child {
            width: 80%;
        }

        .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
            width: 18%;
        }

    .actionBox .form-group * {
        width: 100%;
    }

    .taskDescription {
        margin-top: 10px 0;
    }

    .commentList {
        padding: 0;
        list-style: none;
        max-height: 200px;
        overflow: auto;
    }

        .commentList li {
            margin: 0;
            margin-top: 10px;
        }

            .commentList li > div {
                display: table-cell;
            }

    .commentText p {
        margin: 0;
    }

    .sub-text {
        color: #aaa;
        font-family: verdana;
        font-size: 11px;
    }

    .actionBox {
        border-top: 1px dotted #bbb;
        padding: 10px;
    }

    input, select, textarea {
        max-width: none;
    }

    .box {
        display: flex;
        flex-wrap: wrap;
    }
</style>

<br />
<h2>Chat Room</h2>

<br />
<div class="row" style="width:100%;">
    <div class="col-3">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Members connected</h5>
            </div>

            <ul class="list-group list-group-flush">
                @foreach (var member in Model.ListMember)
                {
                    <li class="list-group-item">@member.identity</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-9" style="width: 100%;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Chat</h5>
            </div>
            <div class="actionBox">
                <ul class="commentList">
                    @foreach (var message in Model.ListMessage)
                    {
                        <li>
                            <div class="commentText">
                                <p class="">@message.body</p> <span class="date sub-text">@message.from</span>
                            </div>
                        </li>
                    }
                </ul>
                @using (Html.BeginForm("SendMessage", "Chat",  FormMethod.Post))
                {
                    <div class="form-group" style="padding-right:0px;">
                        <input type="text" id="mensaje" name="mensaje" class="form-control" placeholder="Your message" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary right" value="Send" />

                    </div>
                }
            </div>
        </div>
    </div>
</div>
