﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-image: none;
        background-color: white;
    }

    .detailBox {
        width: 100%;
        border: 1px solid #bbb;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .titleBox {
        background-color: #0e0d0d;
        padding: 10px;
    }

        .titleBox label {
            color: white;
            margin: 0;
            display: inline-block;
        }

    .commentBox {
        padding: 10px;
        border-top: 1px dotted #bbb;
    }

        .commentBox .form-group:first-child, .actionBox .form-group:first-child {
            width: 80%;
        }

        .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
            width: 18%;
        }

    .actionBox .form-group * {
        width: 100%;
    }

    .taskDescription {
        margin-top: 10px 0;
    }

    .commentList {
        padding: 0;
        list-style: none;
        max-height: 200px;
        overflow: auto;
    }

        .commentList li {
            margin: 0;
            margin-top: 10px;
        }

            .commentList li > div {
                display: table-cell;
            }

    .commentText p {
        margin: 0;
    }

    .sub-text {
        color: #aaa;
        font-family: verdana;
        font-size: 11px;
    }

    .actionBox {
        border-top: 1px dotted #bbb;
        padding: 10px;
    }

    input, select, textarea {
        max-width: none;
    }

    .box {
        display: flex;
        flex-wrap: wrap;
    }
</style>

<br />
@using (Html.BeginForm("ChatRoom", "Chat", FormMethod.Post))
{
    <div class="col-8">
        <div class="card" style="width: 100%;">
            <div class="card-header bg-dark text-light">JOIN</div>
            <div class="row" style="width:100%;">
                <div class="col-5">
                    <div class="card-body">

                        <div class="form-group">
                            <label for="nickname">NickName</label>
                            <input type="text" class="form-control" id="nickname" name="nickname" aria-describedby="nickname" placeholder="Enter your nickname">
                        </div>
                       
                    </div>
                </div>
                <div class="col-7">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Select Channel</label>
                            <br />
                            @foreach (var channel in Model)
                            {
                                <input type="radio" name="radioChannel" value="@channel.sid">@channel.friendly_name<br>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" class="btn float-left btn-primary" value="Join" />
            </div>
        </div>
    </div>
}